            @charset "utf-8";
            /* CSS Document */
            
            body {
                background-image: url(../media/currybg.png);
                background-repeat: repeat;
                color: #000305;
                font-size: 87.5%;
                font-family: Arial, 'Lucida Sans Unicode';
                line-height: 1.5;
                text-align: left;
            }
            
            a {
                text-decoration: none;
                color: #ffc125;
            }
            
            a:link,
            a:visited {
                color: #ffc125;
            }
            
            a:hover,
            a:active {
                background-color: #ffc125;
                color: white;
            }
            
            .body {
                margin: 0 auto;
                width: 100%;
                clear: both;
            }
            
            .mainheader {
                width: 100%;
                background-color: #666;
                -moz-border-radius: 5px;
                -webkit-border-bottom-left-radius: 5px;
                -webkit-border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            

            .mainheader img {
                float: left;
                width: 320px;
                height: auto;
                margin: 10px auto 0 10px;
            }
            
            .clock {
              float:right; 
                margin: 10px 0 0 0;  
}
            
            .mainheader nav {
                padding: 132px 0 0 0;
                background-color: #666;
                height: 40px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
            }
            
            .mainheader nav ul {
                list-style: none;
                margin: 0 auto 0 -40px;
            }
            
            .mainheader nav ul li {
                float: left;
                display: inline;
            }
            
            .mainheader nav a:link,
            .mainheader nav a:visited {
                color: white;
                display: inline-block;
                padding: 10px 25px;
                height: 20px;
            }
            
            .mainheader nav a:hover,
            .mainheader nav a:active,
            .mainheader nav .active a:link,
            .mainheader nav .active a:visited {
                background-color: #ffc125;
                color: white;
                text-shadow: none;
            }
            
            .mainheader nav ul li a {
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
            }
            
            .mainheader nav a.warenkorb {
                display: none;
            }
            
            .allcontent {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .swap {
                
                width: 70%;
                line-height: 25px;
                float: left;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                background-color: white;
                margin: 10px 0 10px 10px;
                padding: 10px;
            }
            
            .top-sidebar {
                float: left;
                width: 20%;
                background-color: white;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                margin: 10px 0 10px 10px;
                padding: 10px;
            }
            
            .postinfo {
                font-style: italic;
                color: grey;
                font: 90%
            }
.ueberschrift{
    color: #ffc125;
}
            .mainfooter {
                width: 100%;
                height: 100px;
                float: left;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                background-color: #666;
                margin: 2% 0;
            }
            
            .mainfooter ul {
                list-style: none;
                margin: 0 auto;
                float: left;
                line-height: 0.8;
            }
            
            .mainfooter ul li p,
            .mainfooter ul li h2 {
                color: white;
            }
            
            .copyright {
                float: right;
                margin-right: 2%;
                color: white;
            }
            
            .impressum {
                height: 600px;
            }
            /* Form */
            
            .form {
                max-width: 100%;
                min-width: 25%;
                background-color: white;
                padding: 0px;
            }
            
            .content {
                padding: 10px 0 0 25px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                float: left;
                width: 70%;
                background-color: white;
            }
            
            .field {
                margin-bottom: 10px;
            }
            /* Form End */
            
            .copyright {
                margin: 71px 10px 0 0;
            }
            .submit {
            margin-top: 10px;
        }
        
        form {}
        
        div {}
        
        .radiolabel {
            width: 200px;
            border-radius: 3px;
            border: 1px solid #D1D3D4;
            margin-right: 5px;
        }
        
        input.radio:empty {
            margin-left: -999px;
        }
        
        input.radio:empty ~ label {
            position: relative;
            float: left;
            line-height: 2.5em;
            text-indent: 3.25em;
            margin-top: 2em;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        input.radio:empty ~ label:before {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: "";
            width: 2.5em;
            background: #D1D3D4;
            border-radius: 3px 0 0 3px;
        }
        
        input.radio:hover:not(:checked) ~ label:before {
            content: "";
            text-indent: .9em;
            color: #C2C2C2;
        }
        
        input.radio:hover:not(:checked) ~ label {
            color: #888;
        }
        
        input.radio:checked ~ label:before {
            content: "";
            text-indent: .9em;
            color: #9CE2AE;
            background-color: #4DCB6D;
        }
        
        input.radio:checked ~ label {
            color: #777;
        }
        
        input.radio:focus ~ label:before {
            box-shadow: 0 0 0 3px #999;
        }
        
        .radio {
            float: left;
        }
            @media only screen and (min-width: 150px) and (max-width: 800px) {
                .body {
                    width: 100%;
                    font-size: 95%
                }
                .mainheader img {
                    width: 320px;
                    vertical-align: middle;
                    display: block;
                    padding-top: 10px;
                    margin: 0 auto 5px auto;
                }
                
                .clock {
              display: none;
}
                .mainheader nav {
                    height: 280px;
                }
                .mainheader nav ul {
                    padding-left: 0;
                }
                .mainheader nav ul li {
                    width: 100%;
                    text-align: center;
                }
                .mainheader nav a:link,
                .mainheader nav a:visited {
                    padding: 10px 25px;
                    height: 20px;
                }
                .mainheader nav a:hover,
                .mainheader nav a:active,
                .mainheader nav .active a:link,
                .mainheader nav .active a:visited {
                    display: block;
                }
                .mainheader nav a.warenkorb {
                    display: block;
                }
                .mainheader nav ul li a {}
                .swap {}
                .content {
                    float: left;
                    margin-top: 2%;
                    margin-left: auto;
                    margin-right: auto;
                }
                .swap {
                    width: 90%;
                    vertical-align: middle;
                    display: block;
                    padding-top: 10px;
                    margin: 0px auto 5px auto;
                }
                .topcontent {
                    background-color: white;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    padding: 3% 5%;
                    margin-top: 14px;
                    margin-bottom: 3%;
                }
                .bottomcontent {
                    margin-top: 3%;
                }
                .top-sidebar {
                    display: none;
                }
                .postinfo {
                    display: none;
                }
                .mainfooter {
                    width: 100%;
                    height: 120%;
                }
                .mainfooter p {
                    width: 92%;
                    color: white;
                    margin: 2% auto 0 auto;
                }
                .mainfooter ul {
                    list-style: none;
                    margin: 0 auto;
                    float: none;
                    text-align: center;
                    line-height: 1.0;
                }
                .mainfooter h2 {
                    margin: 2% auto;
                    text-align: center;
                }
                .kontakt {
                    display: none;
                }
                .copyright {
                    text-align: right;
                    padding-right: 20px;
                    padding-bottom: 10px
                }
            }